## Importing Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline 
sns.set()

## Loading the Dataset

In [2]:
raw_data=pd.read_csv('diabetes.csv')
raw_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
raw_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Missing values handling

In [4]:
raw_data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

### So,We can that There isn't any missing values in Dataset.But,'Glucose','BloodPressure','SkinThickness','Insulin','BMI' can't Be zero (As per medical Domain).we are going to replace those with their "MEAN" Values.

In [5]:
# REplacing Zero with NaN 
for col in ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']:
    raw_data[col].replace(0,np.nan,inplace=True)
    mean=raw_data[col].mean(axis=0)
    raw_data.replace(np.nan,mean,inplace=True)

In [6]:
raw_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.435949,12.096346,8.790942,85.021108,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,121.500000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.202592,29.153420,155.548223,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.548223,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### Now we can see that min values are Mean values now,Which values range makes sense

In [7]:
x=raw_data.iloc[:,0:-1]
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [8]:
y=raw_data['Outcome']
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [9]:
print(x.shape,y.shape)

(768, 8) (768,)

## Train & Test Dataset Spliting

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(614, 8) (614,)
(154, 8) (154,)

## standardising Dataset

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

## Modeling

In [12]:
# Training 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
for i in range(1,11):
    neigh=KNeighborsClassifier( n_neighbors=i,weights='distance')
    neigh.fit(x_train,y_train)
    yhat=neigh.predict(x_test)
    print('For k=',i,'Accuracy :',accuracy_score(y_test,yhat))

For k= 1 Accuracy : 0.6493506493506493
For k= 2 Accuracy : 0.6493506493506493
For k= 3 Accuracy : 0.7272727272727273
For k= 4 Accuracy : 0.7272727272727273
For k= 5 Accuracy : 0.7597402597402597
For k= 6 Accuracy : 0.7532467532467533
For k= 7 Accuracy : 0.7532467532467533
For k= 8 Accuracy : 0.7597402597402597
For k= 9 Accuracy : 0.7597402597402597
For k= 10 Accuracy : 0.7467532467532467

### We can see that Accuracy kept steady and Max after k=5.

In [13]:
neigh=KNeighborsClassifier( n_neighbors=5,weights='distance')
neigh.fit(x_train,y_train)
yhat=neigh.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,yhat)
cm

array([[88, 19],
       [18, 29]], dtype=int64)

## We can see that our pedicted Excellently. 88+29 -> correctly And 18+19 -> incorrectly